[submodule "fabric-loom"]
	path = upstreams/fabric-loom
	url = https://github.com/FabricMC/fabric-loom.git
[submodule "upstreams/architectury-loom"]
	path = upstreams/architectury-loom
	url = https://github.com/architectury/architectury-loom.git
